---
title: Archive
permalink: "archive/index.html"
---
<div class="page-archive"><!--%B %B date_to_string -->
{% for post in site.posts %}
  {% assign post_month_year = post.date | date: "%Y" %}
  {% assign newer_post_month_year = post.next.date | date: "%Y" %}
  {% if post_month_year != newer_post_month_year %}
    <h3 class="section-header-archive">
      {{ post_month_year }} Year
    </h3>
  {% endif %}
  <p>
    <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive">{{ post.title }}</a>
    <small class="text-muted">{{ post.date | date:"%m-%d-%Y" }} 编写.</small>
  </p>
{% endfor %}
</div>
