<!-- 
  @Author: Your name
  @Date:   2023-02-11 12:48:30
  @Last Modified by:   Your name
  @Last Modified time: 2023-02-12 09:49:41
-->
<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
    <!--
    <h3 class="section-header">
        随心所翼
    </h3>

    <p><a href="#aaa" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>
     -->
    <p>
        <div class="media">
            <h3>
                Author
            </h3>
            <div class="media-body">
                <!-- <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai"> -->
                <!-- <img src="https://avatars1.githubusercontent.com/u/39078847?s=460&u=e5719bcfe63768ca1eb653406ce2dc57613f5e60&v=4" alt="helloyuzz" style="width:260px;border-radius: 50%!important;"> -->
            </div>
            <h5 class="media-heading">记录自己每日的所思、所感、所做、所想！</h5>
        </div>
    </p>
</div>

<!-- <h3>
    &uarr; Site url:
</h3>