<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
    <h3 class="section-header">
        About
    </h3>

    <p><a href="#aaa" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>
    <p>
        <div class="media">
            <h3>
                Author
            </h3>
            <div class="media-body">
                <!-- <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai"> -->
                <!-- <img src="https://avatars1.githubusercontent.com/u/39078847?s=460&u=e5719bcfe63768ca1eb653406ce2dc57613f5e60&v=4" alt="helloyuzz" style="width:260px;border-radius: 50%!important;"> -->
                <img src="https://gitee.com/helloyuzz/sharepic/raw/master/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200731113337.jpg" alt="helloyuzz" style="width:260px;height:260px;border-radius: 50%!important;">
            </div>
            <h4 class="media-heading">HELLO YUZZ</h4>
            <h5 class="media-heading">yusais_life@qq.com</h5>
        </div>
    </p>
</div>

<h3>
    Site url:
</h3>

<p><button data-purplecoat-toggle="shiori_aa" class="btn btn-default"><i class="fa fa-toggle-on"></i> https://hi.1tyu.com</button></p>

<p>&uarr; Emojo <a href="https://www.webfx.com/tools/emoji-cheat-sheet/" target="_blank">:point_right:翼</a></p>
