<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
    <h3 class="section-header">
        About
    </h3>

    <p><a href="#aaa" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>

    <h3>
        Author
    </h3>

    <p>
        <div class="media">
            <h4 class="media-heading">HELLO YUZZ</h4>
            <h5 class="media-heading">yusais_life@qq.com</h5>
            <div class="media-body">
                <!-- <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai"> -->
            </div>
        </div>
    </p>
</div>

<h3>
    Site url:
</h3>

<p><button data-purplecoat-toggle="shiori_aa" class="btn btn-default"><i class="fa fa-toggle-on"></i> https://hi.1tyu.com</button></p>

<p>&uarr; Powered by <a href="#aaa">:point_right:翼</a></p>
