---
layout: default
---

<div class="post-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/archive/">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">  {{ page.title }}</li>
    </ol>
  </nav>

  {% include post-header.html %}
</div>
<div class="post-content" style="text-indent: 16px;">
  {{ content }}
  <p class="text-muted"> {{ page.date | date:"%Y-%m-%d" }} 撰写</p>
</div>
<div class="post-footer">
  {% include post-footer.html %}  
</div>
{% if site.data.theme.show_post_navs %}
  <!-- { % if page.previous or page.next % } -->
    <div class="post-navs row">
      <div class="col-md-6 post-nav">
        <h3 class="section-header">
          <span class="text-muted"> &lt; &lt;</span>
          前一篇 Newer 
        </h3> 
        {% if page.next.next.next.next %}
        <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.next.next.next.next.date | date: "%Y-%m-%d" }}</span><a href="{{ page.next.next.next.next.url | prepend:site.baseurl }}">{{ page.next.next.next.next.title }}</a></h3>
        {% endif %}
        {% if page.next.next.next %}
        <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.next.next.next.date | date: "%Y-%m-%d" }}</span><a href="{{ page.next.next.next.url | prepend:site.baseurl }}">{{ page.next.next.next.title }}</a></h3>
        {% endif %}
        {% if page.next.next %}
          <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.next.next.date | date: "%Y-%m-%d" }}</span><a href="{{ page.next.next.url | prepend:site.baseurl }}">{{ page.next.next.title }}</a></h3>
        {% endif %}
          {% if page.next %}
            <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.next.date | date: "%Y-%m-%d" }}</span><a href="{{ page.next.url | prepend:site.baseurl }}">{{ page.next.title }}</a></h3>
          {% else %}
            已经是第一篇。
          {% endif %}
        </div>
          
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            后一篇 Older
            <span class="text-muted"> &gt;&gt; </span>
          </h3>
          {% if page.previous %}
          <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.previous.date | date: "%Y-%m-%d" }}</span><a href="{{ page.previous.url | prepend:site.baseurl }}">{{ page.previous.title }}</a></h3>
            {% if page.previous.previous %}
            <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.previous.previous.date | date: "%Y-%m-%d" }}</span><a href="{{ page.previous.previous.url | prepend:site.baseurl }}">{{ page.previous.previous.title }}</a></h3>
              {% if page.previous.previous.previous %}
              <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.previous.previous.previous.date | date: "%Y-%m-%d" }}</span><a href="{{ page.previous.previous.previous.url | prepend:site.baseurl }}">{{ page.previous.previous.previous.title }}</a></h3>
                {% if page.previous.previous.previous.previous %}
                <h3 class="post-title-link"><span style="margin-right:3px;color:rgb(13, 175, 98)">{{ page.previous.previous.previous.previous.date | date: "%Y-%m-%d" }}</span><a href="{{ page.previous.previous.previous.previous.url | prepend:site.baseurl }}">{{ page.previous.previous.previous.previous.title }}</a></h3>
                {% endif %}
              {% endif %}
            {% endif %}
          {% else %}
            已经是最后一篇。
          {% endif %}
        </div>
    </div>
  {% endif %}
<!-- { % endif % } -->
